<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布 - 问答社区</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/answer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/editormd.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/community.js}"></script>
    <script type="text/javascript" th:src="@{/js/editormd.min.js}"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input type="text" class="form-control" id="title" th:value="${title}" name="title" placeholder="问题标题....." autocomplete="off">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">问题补充（必填，请参照右侧提示）:</label>
                        <textarea name="description" id="description" style="display:none;"
                                  th:text="${description}"
                                  class="form-control"
                                  cols="30" rows="10">
                        </textarea>
                    <script type="text/javascript">
                        $(function() {
                            var editor = editormd("question-editor", {
                                width  : "100%",
                                height : "350",
                                path   : "/lib/",
                                delay  : 0,
                                watch  : false,
                                imageUpload  : true,
                                imageFormats  : ["jpg","jpeg","gif","png","bmp","webp"],
                                imageUploadURL  : "/file/upload",
                                placeholder : "请输入富文本信息"
                            });
                        });
                    </script>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" autocomplete="off"
                           placeholder="输入标签，以逗号分隔"
                           onclick="showSelectTag()">


                    <div id="select-tag" class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                                th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory: ${tags}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span>
                                    <span class="label label-info" th:each="selectTag: ${selectCategory.tags}">
                                    <span class="glyphicon glyphicon-tags community-tag" onclick="selectTag(this)"
                                          th:data-tag="${selectTag}"
                                          th:text="${' '+selectTag}">
                                    </span>
                                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}"
                                 th:if="${error != null}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
                        <button type="submit" class="btn btn-success btn-publish">发 布</button>
                        </div>
                </div>
            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            · 问题标题：请用精简约语言描述您发布的问题，不超过25字 <br>
            · 问题补充：详细补充您的问题内容，并确保问题描述直观清晰，并提供一些相关资料<br>
            · 选择标签：选择一个或者多个合适的标签，用逗号隔开且不超过10个字<br>
            · 关于积分：发起一个问题会消耗您20个积分，每多一个回复您将获得5个积分的奖励，为了您的利益，在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能。<br>

        </div>
    </div>
</div>

</body>
</html>